body{
    background-color: #982176;
h1{
    color: #9400FF;
    text-align: center;
    font-size:3rem;
}
a{
    text-decoration: none;
    color:white;
}
.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content:flex-start;
    list-style-type: none;
    font-size: 22px;
    color: #5D0E41;
    font-weight: 800;
}